.container {
	display: flex;
	justify-content: center;
	margin: 2.5rem 0;
}

.people {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.person_link {
	display: flex;
	gap: 2rem;
	color: #333;
	text-decoration: none;
	padding: 1rem;
	border-radius: 1rem;
	background: #f9f9f9;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	transition: 0.3s ease-in-out;
}

.person_link:hover,
.person_link:focus {
	background: #fefefe;
	transition: 0.3s ease-in-out;
}
.person_image {
	border-radius: 50%;
}
.person_name {
	margin: 0.5rem 0;
}
.person_age {
	margin: 0 0 0.5rem;
}
